doctype html
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		title Pubs & Booses
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet" href="/css/normalize.css")
		link(rel="stylesheet" href="/css/styles.css")
	body
		header
			.navigation-container
				h1.heading Pubs & Booses
		block content        
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
		script(src="/js/app.js")